<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta name="google-site-verification" content="Dk9k3Xx_okAd-IvbXJ0GL8wiarARSmg8zrXHa65yiXU" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="JeOam" />
	<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
</head>
<body>
	<div class="site">
		<div class="title"><a href="/">JeOam's Blog</a><br/></div>
		{{ content }}
		<div class="footer">
			<div class="contact">
				<p>
					Learning iOS Development, looking for a job<br />
					A Big Fan of Internet<br />
					文章版权声明：自由转载-非商用-非衍生-保持署名 | <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">Creative Commons BY-NC-ND 3.0</a><br />
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="http://github.com/JeOam/">Github@JeOam</a><br />
					<a href="http://www.douban.com/people/LXJAAA/">Douban@JeOam</a><br />
					<a href="http://www.zhihu.com/people/JeOam">Zhihu@JeOam</a><br />
				</p>
			</div>
		 	<div class="rss">
			</div>
		</div>
	</div>

</body>
<html>
